# Database Configuration
DB_TYPE=mysql
DB_HOST=trolley.proxy.rlwy.net
DB_PORT=49619
DB_USERNAME=root
DB_PASSWORD=EHpUGGfgpQhfuHqavglpiHTCoCJHMByk
DB_DATABASE=Taxi
DB_SSL=false

# Server Configuration
PORT=3000
NODE_ENV=development

# Email Configuration (Resend)
RESEND_API_KEY=

# JWT Secret
JWT_SECRET=supersecreto123

# Google Maps API Key (para cálculo de distancias)
GOOGLE_API_KEY=tu_google_api_key_aqui 